:root {
    --Color-rojo: #8b0000;
    --Color-azul: #2b1b76;
    --fuente-contenido: monospace;
    --Color-Letra: #030303;
  }
  body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: var(--fuente-contenido);
  }
  
  .Contenedor {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 700px;
    color: var(--Color-Letra);
  }
  
  .fila {
    display: flex;
    width:89%;
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin: 10px;
    width: 150px;
    height: 100px;
  }
  
  .box1 {
    background-color: var(--Color-rojo);
    border-bottom-right-radius: 70px;
    width: 200px;
  }
  
  .box2 {
    background-color: var(--Color-azul);
    border-top-left-radius: 50px;
    width: 200px;
  }
  
  .box3 {
    background-color: var(--Color-rojo);
    border-bottom-left-radius: 70px;
    width: 200px;
  }
  
  .box4 {
    background-color: var(--Color-azul);
    border-radius: 50px 100px;
    width: 200px;
  }
  
  .box5 {
    background-color: var(--Color-rojo);
    border-radius: 50px;
    width: 200px;
  }
  
  .box6 {
    background-color: var(--Color-azul);
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }